apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pvc.yaml

namespace: trabaholink

commonLabels:
  app: trabaholink
  managed-by: kustomize
